@font-face {
    font-family: 'Satoshi-Regular';
    src: url('./assets/fonts/Satoshi-Regular.woff2') format('woff2'),
         url('./assets/fonts/Satoshi-Regular.woff') format('woff');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi-Medium';
    src: url('./assets/fonts/Satoshi-Medium.woff2') format('woff2'),
         url('./assets/fonts/Satoshi-Medium.woff') format('woff');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }

  
  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('./assets/fonts/Satoshi-Bold.woff2') format('woff2'),
         url('./assets/fonts/Satoshi-Bold.woff') format('woff');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
}

ul > li,
a {
    font-family: 'Satoshi-Medium';
    font-style: normal;
    font-size: 18px;
    color: #14142B;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #777990;
}

h3 {
    font-family: 'Satoshi-Medium';
    font-size: 1.5em;
    color: #4e4b66;
    margin-bottom: 1rem;
}

h1 {
    font-family: 'Satoshi-Bold';
    font-size: 4em;
    color: #14142B;
    line-height: 1.1em;
    margin-bottom: 4rem;
}
.btn {
    padding: 1.5em 3.75em;
    border-radius: 5em;
    background-color: #14142b;
    border-style: none;
    font-size: 1em;
    color: #fff;
    font-family: 'Satoshi-Medium';
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

header > div.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 1024px;
}

header > div.header-container > nav > ul {
    display: flex;
    margin: 0;
    padding: 0;
}

header > div.header-container > nav > ul > li {
    list-style-type: none;
}

header > div.header-container > nav > ul > li > a {
    padding: 0 0.75rem;
}

main > section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
main > section > .home-container  {
    display: flex;
    width: 1024px;
    padding-top: 5rem;
}

main > section > .home-container > .home-content  {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


main > section > .home-container > div.image-wrapper  {
    flex: 1;
    display: flex;
    align-items: center;
}

main > section > .home-container > div.image-wrapper  > img {
    width: 100%;
}


