@font-face {
    font-family: 'Satoshi-Regular';
    src: url('./assets/fonts/Satoshi-Regular.woff2') format('woff2'),
         url('./assets/fonts/Satoshi-Regular.woff') format('woff');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi-Medium';
    src: url('./assets/fonts/Satoshi-Medium.woff2') format('woff2'),
         url('./assets/fonts/Satoshi-Medium.woff') format('woff');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }

  
  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('./assets/fonts/Satoshi-Bold.woff2') format('woff2'),
         url('./assets/fonts/Satoshi-Bold.woff') format('woff');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
}

ul > li,
a {
    font-family: 'Satoshi-Medium';
    font-style: normal;
    font-size: 18px;
    color: #14142B;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #777990;
}


h3 {
    font-family: 'Satoshi-Medium';
    font-size: 1.5em;
    color: #4e4b66;
    margin-bottom: 1rem;
}

h1 {
    font-family: 'Satoshi-Bold';
    font-size: 4em;
    color: #14142B;
    line-height: 1.1em;
    margin-bottom: 4rem;
}
.btn {
    padding: 1.5em 3.75em;
    border-radius: 5em;
    background-color: #14142b;
    border-style: none;
    font-size: 1em;
    color: #fff;
    font-family: 'Satoshi-Medium';
    transition: all 300ms ease;
}

.btn:hover {
    background-color:#fff;
    color: #14142B; 
    transform: translate3d(0px, -6px, 0.01px);
    box-shadow: 0 4px 20px -5px rgb(20 20 43 / 15%);
}

body {
    background-color: #f7f7f7;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

header > div.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 1024px;
}

header > div.header-container > .logo img {
    width: 130px;
    transition: transform 300ms ease;
}

header > div.header-container > .logo img:hover {
    transform: translate(0px, -6px);
}

header > div.header-container > nav > ul {
    display: flex;
    margin: 0;
    padding: 0;
}

header > div.header-container > nav > ul > li {
    list-style-type: none;
}

header > div.header-container > nav > ul > li > a {
    padding: 0 0.75rem;
}

main > section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
main > section > .home-container  {
    display: flex;
    width: 1024px;
    padding-top: 5rem;
}

main > section > .home-container > .home-content  {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


main > section > .home-container > div.image-wrapper  {
    flex: 1;
    display: flex;
    align-items: center;
}

main > section > .home-container > div.image-wrapper  > img {
    width: 100%;
}


.about-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 200px;
    column-gap: 10px;
    row-gap: 10px;
}

#project-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(17rem, 100%), 1fr));
    grid-auto-rows: 350px;
    column-gap: 1rem;
    row-gap: 1rem;
}

#project-grid > div {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 27px -3px rgb(0 0 0 / 20%);
}

#project-grid > div > img {
    /* aspect-ratio: 4 / 3; */
    /* width: 100%; */
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#project-grid > div > h3 {
    /* aspect-ratio: 4 / 3; */
    /* width: 100%; */
    margin: 0.5rem;
}

#project-grid > div > p {
    font-size: 1rem;
    line-height: 1.2rem;
    height: calc(1.2rem * 4);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;  
    -webkit-box-orient: vertical;
    margin: 0.5rem;
}




.box {
    background-color: red;
}

.box:nth-child(2) {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}



